
 .App{
   /* Desktop */


position: relative;
width:cover;
height: 4000px;
z-index:1;
background: #17AAB1;

box-sizing: border-box;

 }
 
 
.footer{
  background-repeat: no-repeat; 
  position:relative;
  text-align: center;
  top :3900px;
  z-index:1;
}